/* 
    Created on : 28-giu-2014, 12.06.28
    Author     : Guido Pio
*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

textarea {
    resize: none;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

input.error {
    border-color: red;
}

option[disabled] {
    color: red;
}

.message {
    font-weight: bold;
}